button {
    font: inherit;
    cursor: pointer;
    padding: 5px 7px;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 5px;
}

button:hover,
button:active {
    background-color: #510674;
    border-color: #510674;
}